@tailwind base;
@tailwind components;
@tailwind utilities;

.task-dept-container {
    border: 1px solid #bbbbc0;
    border-radius: 5px;
    min-width: 47vw;
    /*max-width: 50vw;*/
    width: fit-content;
}